<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Detail of entry and exit</h4>

            <table class="table">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Mount</th>
                  <th>Type</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of entryExit | shortEntry">
                  <td>{{item.description}}</td>
                  <td>{{item.mount | currency}}</td>
                  <td 
                    [class.text-danger]="item.type === typeEntry.EXIT"
                    [class.text-success]="item.type === typeEntry.ENTRY">
                    {{item.type}}
                  </td>
                  <td>
                    <button (click)="delete(item.uid)" type="button" class="btn btn-danger">
                      <i class="fa fa-trash"></i>
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>

            </table>


          </div>
        </div>
    </div>
</div>
  