<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Income / Expenses</h4>
        <p class="card-description">
          Specify a mount and type
        </p>

        <form (ngSubmit)="save()" [formGroup]="entryExitForm">

          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" formControlName="description" placeholder="Description"
              name="descripcion">
          </div>

          <div class="form-group">
            <label>Mount</label>
            <input type="number" formControlName="mount" class="form-control" placeholder="Monto" name="mount">
            <p>
              Must be a positive mount
            </p>
          </div>

          <div class="form-group">
            <label>Type</label>
            <br>
            <button *ngIf="entry" (click)="entry=false" type="button" class="btn btn-primary btn-block">Income</button>
            <button *ngIf="!entry" (click)="entry=true" type="button" class="btn btn-warning btn-block">Expenses</button>
          </div>

          <hr>
          <button type="submit" [disabled]="entryExitForm.invalid" class="btn btn-success mr-2">
            <ng-template [ngIf]="loading" [ngIfElse]="add">
              <i class="fa fa-spin fa-sync"></i>
              Saving...
            </ng-template>
            <ng-template #add>
              <i class="fa fa-save"></i>
              Add
            </ng-template>
          </button>

          <button type="reset" class="btn btn-light">Cancel</button>

        </form>
      </div>
    </div>
  </div>
</div>